body {
  background-color: #222;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #61dafb;
}

/* Estilos para o nosso container */
#lista-de-armas {
  display: flex;
  /* Transforma o container numa "bandeja flexível". */
  flex-wrap: wrap;
  /* Permite que os cards quebrem para a linha de baixo se não couberem. */
  justify-content: center;
  /* Centraliza os cards na bandeja. */
  padding: 16px;
  /* Um respiro nas laterais */
}

.card-arma {
  background-color: #333;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  /* Margem ajustada para dar espaço em TODAS as direções. */
  width: 300px;
  text-align: left;
  /* Alinha o texto do card à esquerda pra ficar mais legível. */
}

.card-arma h2 {
  margin-top: 0;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}

.card-arma p {
  margin: 8px 0;
}